<!--
SPDX-FileCopyrightText: 2021 embeach

SPDX-License-Identifier: CC-BY-SA-4.0

Note-PCRLT:compliant-with-spec:SPDXv2.2:https://spdx.github.io/spdx-spec/
Note-PCRLT:compliant-with-spec:REUSEv3.0:https://reuse.software/spec/
Note-PCRLT:compliant-with-spec:PCRLTv0.3:https://gitlab.com/emb_std/pcrlt

Note-PCRLT:src-trace-repository:2021:public:git+https://gitlab.com/embeach/projeqtor-tutorial.git@master#Projeqtor_Tutorial.html

Note-PCRLT:emb.7:specify-identity-name:embeach
Note-PCRLT:emb.7:resolve-git-identity:git+https://gitlab.com/embeach/projeqtor-tutorial.git@master#Projeqtor_Tutorial.html
Note-PCRLT:emb.7:personal-data-policy:name-allowed,abbreviation-allowed
Note-PCRLT:emb.7:copyright-holder-add-remove-modify-group-policy:no-permissions,conditions:personal-data-policy
Note-PCRLT:emb.7:map-copyright-holder-to-git-commits: all commits regarding Projeqtor_Tutorial.html

Note-PCRLT:CC-BY-SA-4.0:map-licenses-to-git-commits: same as "emb.7:map-copyright-holder-to-git-commits"
-->
<h1 id="projeqtor-tutorial">Projeqtor Tutorial</h1>
<h2 id="goal">Goal</h2>
<p>This tutorial is intended to show some use cases for which projeqtor can be used.<br />
The example situation is as follows: A person wants to use projeqtor for project management for professional and private projects. However, only in a single user scenario. Team scenarios could be handled in the future.<br />
Some days of the week should be reserved for work and some days for private projects. Project management should be flexible for new projects and activities that come up after the original planning. The estimate of work should be trackable and actual work should be assignable. Scheduling should be helpful in estimating completion dates.</p>
<h2 id="user-manual">User Manual</h2>
<p>The tutorial was created with version: projeqtorV9.1.4<br />
The user manual can be found at: https://manual.projeqtor.org/html_en</p>
<h2 id="notation">Notation</h2>
<p>First, some clarifications about the notation used.<br />
&quot;ᐅ <code>target</code>&quot; means: left-click <code>target</code>, where <code>target</code> is the name of the button. If <code>target</code> is not visible as a name, it should be mentioned in parentheses or footnotes.<br />
&quot;ᐅ [tooltip] <code>target</code>&quot; means: mouse pointer (hover) over <code>target</code>, where <code>target</code> is the name of the button.<br />
&quot;<code>key</code>: <code>text value</code>&quot; means: fill in <code>text value</code> in the field labeled with <code>key</code> (or select in case of dropdown menu).<br />
&quot;<code>key</code>: <code>~yes</code>&quot; means: check the checkbox labeled with <code>key</code>.<br />
&quot;<code>key</code>: <code>~no</code>&quot; means: uncheck the checkbox labeled with <code>key</code>.<br />
&quot;<code>group</code> - <code>key</code>: <code>text value</code>&quot; means: look for the group <code>group</code> and look there for the label <code>key</code> and fill in <code>text value</code>.<br />
&quot;ᐅ <code>search</code> ᐅ <code>calendars</code>&quot; means: search for <code>calendars</code> in the menu search box.<br />
&quot;ᐅ hamburger menu &quot; means: search for a button with three vertical dots (mostly on the right side of the screen) and click.</p>
<h2 id="steps">Steps</h2>
<h3 id="installation">1. Installation</h3>
<p>See https://www.projeqtor.org/en/product-en/technical-en/64-setup-en/413-product-setup-en<br />
admin and guest are the only users. (credentials admin, admin). Change password (via browser - login screen -&gt; change password) especially if internet is accessible.<br />
The tutorial was tested using:<br />
Linux debian buster in a Qubes 4 standalone VM without internet connection (no network vm).<br />
To install in debian buster the following steps were used:<br />
install xampp-linux:<br />
see https://www.apachefriends.org/faq_linux.html<br />
after downloading run:</p>
<pre class="console"><code>chmod 755 xampp-linux-*-installer.run  
sudo ./xampp-linux-*-installer.run  
sudo /opt/lampp/manager-linux.run  </code></pre>
<p>(start mysql, apache)</p>
<p>download projeqtorV9.0.4 (or any other version)<br />
after downloading run:</p>
<pre class="console"><code>sudo cp -r projeqtorV9.0.4 /opt/lampp/htdocs/
cd /opt/lampp/htdocs/
sudo chown -R daemon: projeqtor  </code></pre>
<p>use <code>/opt/lampp/etc/php.ini</code> (to check php features..)</p>
<p>for later upgrade do the following:<br />
logout from projeqtor.<br />
download projeqtorV9.1.4 (or any other latest version)</p>
<pre class="console"><code>sudo cp -r projeqtorV9.1.4 /opt/lampp/htdocs/  
sudo chown -R daemon: projeqtorV9.1.4  
cd /opt/lampp/htdocs/  
sudo cp projeqtorV9.0.4/projeqtor/files/config/parameters.php projeqtorV9.1.4/projeqtor/files/config/  
sudo cp projeqtorV9.0.4/projeqtor/tool/parametersLocation.php projeqtorV9.1.4/projeqtor/tool/  </code></pre>
<p>optionally remove the projeqtorV9.0.4 folder.</p>
<p>for login keepassxc (KeePassXC-2.6.4-x86_64.AppImage) was used as password db.<br />
as browser librewolf (LibreWolf-85.0.2-1.x86_64.AppImage) was used with addon &quot;KeepassXC-Browser&quot; (1.7.8.1)</p>
<p>browse to http://localhost/projeqtorV9.1.4/projeqtor (from there db can be created and afterwards login with admin,admin is possible)</p>
<h3 id="adjust-global-parameters">2. Adjust global parameters</h3>
<p>ᐅ <code>Configuration</code> ᐅ <code>Global parameters</code> ᐅ <code>Planning</code><br />
<code>apply strict mode for dependencies</code>: <code>No</code><br />
ᐅ <code>save</code> ᐅ <code>Configuration</code> ᐅ <code>Global parameters</code> ᐅ <code>Work time</code><br />
<code>unit for Timesheet (real work)</code>: <code>hours</code><br />
<code>Open Days</code> - <code>Saturday</code>: <code>open days</code><br />
ᐅ <code>Configuration</code> ᐅ <code>Global parameters</code> ᐅ <code>Activity</code><br />
<code>activate todo list management</code>: <code>Yes</code><br />
ᐅ <code>save</code></p>
<h2 id="create-custom-calendars">3. Create custom calendars</h2>
<p>ᐅ <code>search</code> ᐅ <code>calendars</code> ᐅ <code>Standard calendars</code><br />
ᐅ <code>new calendar</code><br />
ᐅ <code>Description</code><br />
<code>name</code>: <code>CalWorkOnlyMoTuWe</code><br />
ᐅ <code>Detail</code><br />
<code>off days</code>: Su,Th,Fr,Sa (checkmarks)<br />
ᐅ <code>save</code></p>
<p>ᐅ <code>new calendar</code><br />
ᐅ <code>Description</code><br />
<code>name</code>: <code>CalWorkOnlyThFrSa</code><br />
<code>off days</code>: Su,Mo,Tu,We (checkmarks)<br />
ᐅ <code>save</code></p>
<h3 id="create-project-manager-user-persmg-and-members-perspro-perspriv">4. Create project manager user <code>PersMg</code> and members <code>PersPro</code>, <code>PersPriv</code></h3>
<p><code>Environment</code> ᐅ <code>Users</code> ᐅ <code>new User</code><br />
<code>user name</code>: <code>PersMg</code><br />
<code>real name</code>: <code>PersMg</code><br />
<code>profile</code>: <code>Project Leader</code><br />
<code>is a resource</code>: <code>~yes</code><br />
<code>function</code>: <code>Manager</code><br />
ᐅ <code>save</code><br />
ᐅ <code>Details</code><br />
ᐅ <code>reset password</code><br />
ᐅ <code>save</code><br />
<code>Resources</code> ᐅ <code>PersMg</code><br />
ᐅ <code>Description</code><br />
<code>capacity (FTE)</code>: <code>0.0625</code><br />
(this means 0.5h per day if 8h is the normal FTE (default))<br />
ᐅ <code>Detail</code> ᐅ <code>function and cost</code> - <code>add</code><br />
<code>cost</code>: <code>96</code>€/d (this assumes 12€/h like student rate)<br />
ᐅ <code>save</code><br />
<code>Environment</code> ᐅ <code>Users</code> ᐅ <code>new User</code><br />
<code>user name</code>: <code>PersPro</code><br />
<code>real name</code>: <code>PersPro</code><br />
<code>profile</code>: <code>Project Member</code><br />
<code>is a resource</code>: <code>~yes</code><br />
<code>function</code>: <code>Developer</code><br />
ᐅ <code>save</code><br />
ᐅ <code>details</code><br />
ᐅ <code>reset password</code><br />
ᐅ <code>save</code><br />
<code>Resources</code> ᐅ <code>PersPro</code><br />
ᐅ <code>Description</code><br />
<code>capacity (FTE)</code>: <code>0.9375</code><br />
(this means 0.5h per day reserved for PersMg if 8h is the normal FTE (default))<br />
<code>standard calendar</code>: <code>CalWorkOnlyMoTuWe</code><br />
ᐅ <code>Detail</code> ᐅ <code>function and cost</code> - <code>add</code>(tooltip-name)<br />
<code>cost</code>: <code>96</code>€/d (this assumes 12€/h like student rate)<br />
ᐅ <code>save</code><br />
<code>Environment</code> ᐅ <code>Users</code> ᐅ <code>new User</code><br />
<code>user name</code>: <code>PersPriv</code><br />
<code>real name</code>: <code>PersPriv</code><br />
<code>profile</code>: <code>Project Member</code><br />
<code>is a resource</code>: <code>~yes</code><br />
<code>function</code>: <code>Developer</code><br />
ᐅ <code>save</code><br />
ᐅ <code>details</code><br />
ᐅ <code>reset password</code><br />
ᐅ <code>save</code><br />
<code>Resources</code> ᐅ <code>PersPriv</code><br />
ᐅ <code>Description</code><br />
<code>capacity (FTE)</code>: <code>0.9375</code><br />
(this means 0.5h per day reserved for PersMg if 8h is the normal FTE (default))<br />
<code>standard calendar</code>: <code>CalWorkOnlyThFrSa</code><br />
ᐅ <code>Detail</code> ᐅ <code>function and cost</code> - <code>add</code>(tooltip-name)<br />
<code>cost</code>: <code>96</code>€/d (this assumes 12€/h like student rate)<br />
ᐅ <code>save</code><br />
ᐅ <code>logout</code> (click right-left corner (down arrow), then <code>Disconnection</code>)</p>
<h3 id="create-administrative-projects-projects-projectspro-projectspriv">5. Create Administrative projects <code>projects</code>, <code>ProjectsPro</code>, <code>ProjectsPriv</code></h3>
<p>The idea is to separate the more private and more professional projects.<br />
ᐅ <code>login</code> with <code>PersMg</code> (use login screen - fill in username, password)<br />
ᐅ <code>planning</code> ᐅ <code>Create new Item</code>(tooltip-name) ᐅ <code>project</code><br />
<code>name</code>: <code>projects</code><br />
<code>type</code>: <code>Administrative</code><br />
<code>manager</code>: <code>PersMg</code><br />
ᐅ <code>save</code><br />
(its unclear if <code>projects</code> is of any help, but it was used in presentation video)<br />
ᐅ <code>planning</code> ᐅ <code>Create new Item</code>(tooltip-name) ᐅ <code>project</code><br />
<code>name</code>: <code>projectsPro</code><br />
<code>type</code>: <code>Administrative</code><br />
<code>manager</code>: <code>PersMg</code><br />
<code>is sub-project of</code>: <code>projects</code><br />
ᐅ <code>save</code><br />
ᐅ <code>planning</code> ᐅ <code>Create new Item</code>(tooltip-name) ᐅ <code>project</code><br />
<code>name</code>: <code>projectsPriv</code><br />
<code>type</code>: <code>Administrative</code><br />
<code>manager</code>: <code>PersMg</code><br />
<code>is sub-project of</code>: <code>projects</code><br />
ᐅ <code>save</code></p>
<h3 id="create-collection-projects-projprocoll1-projprivcoll1">6. Create Collection projects <code>ProjProColl1</code>, <code>ProjPrivColl1</code></h3>
<p>The idea is to use the collection <code>ProjProColl1</code> and <code>ProjPrivColl1</code> to hold the project management task for all containing projects. This will avoid to measure project management work for each project separately.<br />
However, to be able to evaluate the estimation and real efford of projectmanagement - the task should end at some time. Therefore a new collection would be created to host follow up projects and their management.<br />
ᐅ <code>login</code> with <code>PersMg</code><br />
ᐅ <code>planning</code> ᐅ <code>Create new Item</code>(tooltip-name) ᐅ <code>project</code><br />
<code>name</code>: <code>ProjProColl1</code><br />
<code>type</code>: <code>Time and Materials</code><br />
<code>manager</code>: <code>PersMg</code><br />
<code>is sub-project of</code>: <code>ProjectsPro</code><br />
ᐅ <code>save</code><br />
ᐅ <code>planning</code> ᐅ <code>Create new Item</code>(tooltip-name) ᐅ <code>project</code><br />
<code>name</code>: <code>ProjPrivColl1</code><br />
<code>type</code>: <code>Time and Materials</code><br />
<code>manager</code>: <code>PersMg</code><br />
<code>is sub-project of</code>: <code>ProjectsPriv</code><br />
ᐅ <code>save</code></p>
<h3 id="create-projmgpro-project-management-task-and-2-real-projects-in-projprocoll1-with-2-activities-for-each">7. Create <code>ProjMgPro</code> (project management task) and 2 real projects in <code>ProjProColl1</code> with 2 activities for each</h3>
<p>ᐅ <code>planning</code> ᐅ <code>Create new Item</code>(tooltip-name) ᐅ <code>activity</code><br />
ᐅ <code>Description</code><br />
<code>name</code>: <code>ProjMgPro</code><br />
ᐅ <code>Progress</code><br />
<code>Steering</code> - <code>planning</code>: <code>recurring (on weekly basis)</code><br />
ᐅ <code>save</code><br />
ᐅ <code>Assignment</code> - <code>add</code>(tooltip-name)<br />
<code>resource</code>: <code>PersMg</code><br />
<code>Weekly recurring repartition</code>: Mo:0.063,Tu:0.063,We:0.063 (there are multiple fields, others are zero)<br />
ᐅ <code>save</code></p>
<p>ᐅ <code>planning</code> ᐅ <code>Create new Item</code>(tooltip-name) ᐅ <code>project</code><br />
<code>name</code>: <code>ProjPro1</code><br />
<code>type</code>: <code>Time and Materials</code><br />
<code>manager</code>: <code>PersMg</code><br />
ᐅ <code>save</code><br />
ᐅ <code>Allocations</code><br />
ᐅ <code>Allocation to project</code> - <code>add</code>(tooltip-name)<br />
<code>resource</code>: <code>PersPro</code><br />
<code>rate</code>: <code>50</code>%<br />
ᐅ <code>save</code></p>
<p>ᐅ <code>planning</code> ᐅ <code>Create new Item</code>(tooltip-name) ᐅ <code>activity</code><br />
ᐅ <code>Description</code><br />
<code>name</code>: <code>task1</code><br />
<code>project</code>: <code>ProjPro1</code><br />
ᐅ <code>Progress</code><br />
<code>costs and works</code> - <code>validated work</code>: <code>4</code>d (this is the estimated effort in person days (as described in ᐅ <code>Configuration</code> ᐅ <code>Global parameters</code> ᐅ <code>Work time</code> <code>number of hours per day</code>: <code>8</code> (default)). This necessary for monitoring estimated and real work. It will propagate through project and parent projects)<br />
ᐅ <code>save</code><br />
ᐅ <code>Assignment</code> - <code>add</code>(tooltip-name)<br />
<code>resource</code>: <code>PersPro</code><br />
<code>rate</code>: <code>100</code>%<br />
<code>assigned work</code>: <code>4</code>d<br />
ᐅ <code>save</code></p>
<p>ᐅ hamburger menu ᐅ <code>copy element</code><br />
<code>Copy name</code>: <code>task2</code><br />
<code>Copy assignements to activities (with assigned work)</code>: <code>~yes</code><br />
ᐅ <code>OK</code><br />
ᐅ <code>Treatment</code><br />
<code>status</code>: ᐅ <code>recorded</code></p>
<p>ᐅ <code>planning</code> ᐅ <code>ProjPro1</code><br />
ᐅ hamburger menu ᐅ <code>copy current project</code><br />
<code>Copy name</code>: <code>ProjPro2</code><br />
<code>Copy project structure (activities &amp; milestones)</code>: <code>~yes</code><br />
<code>Copy allocations to project (and sub-projects)</code>: <code>~yes</code><br />
<code>Copy assignements to activities (with assigned work)</code>: <code>~yes</code><br />
ᐅ <code>OK</code><br />
ᐅ <code>Progress</code><br />
<code>status</code>: ᐅ <code>recorded</code></p>
<h3 id="capacity-planning-for-projprocoll1">8. capacity planning for <code>ProjProColl1</code></h3>
<p>ᐅ <code>planning</code> ᐅ <code>calculate capacity planning</code> (tooltip-name)<br />
<code>ProjProColl1</code>: <code>~yes</code><br />
<code>start date</code>: <code>6/01/2021</code> (e.g. current date)<br />
ᐅ <code>OK</code><br />
The <code>ProjMgPro</code> taks should have a longer bar now.</p>
<h3 id="finishing-effort-estimation-and-validate-scheduling-dates">9. finishing effort estimation and validate scheduling dates</h3>
<p>ᐅ <code>planning</code> ᐅ <code>ProjMgPro</code> ᐅ <code>Progress</code><br />
<code>costs and works</code> - <code>validated work</code>: <code>1.125</code>d (copy from <code>assigned work</code>)(this is the estimated effort in person days (as described in ᐅ <code>Configuration</code> ᐅ <code>Global parameters</code> ᐅ <code>Work time</code> <code>number of hours per day</code>: <code>8</code> (default)). This necessary for monitoring estimated and real work. It will propagate through project and parent projects)<br />
Usually this is done before assigning resources, but in the case of recurring activities it is easier to do it after.</p>
<p>ᐅ <code>planning</code> ᐅ hamburger menu ᐅ <code>Validate planning</code> (tooltip-name)<br />
<code>project</code>: <code>ProjProColl1</code> (select)<br />
ᐅ <code>OK</code><br />
This will copy the planned dates to the validated dates, which for example will result in red colored bars if the task is not completed after the task end date.</p>
<h3 id="create-projmgpriv-project-management-task-and-2-real-projects-in-projprivcoll1-with-2-activities-for-each">10. Create <code>ProjMgPriv</code> (project management task) and 2 real projects in <code>ProjPrivColl1</code> with 2 activities for each</h3>
<p>proceed as described in 7. (replace <code>ProjMgPro</code> with <code>ProjMgPriv</code> (Weekly recurring repartition: Th:0.063,Fr:0.063,Sa:0.063), <code>ProjProColl1</code> with <code>ProjPrivColl1</code> and <code>PersPro</code> with <code>PersPriv</code>)</p>
<h3 id="capacity-planning-for-projprivcoll1-and-finishing-effort-estimation-and-validate-scheduling-dates">11. Capacity planning for <code>ProjPrivColl1</code> and finishing effort estimation and validate scheduling dates</h3>
<p>proceed as described in 8. and 9. (replace <code>ProjProColl1</code> with <code>ProjPrivColl1</code>, <code>ProjMgPro</code> with <code>ProjMgPriv</code>)<br />
(also possible to plan/replan both projects).<br />
The result is shown in the following screenshot:<br />
<img src="img/projeqtor_planning_gantt.png"  style="width:90%" ><br />
Note: right-click on a bar will show the resource allocation per day.</p>
<h3 id="create-some-reports">12. Create some reports</h3>
<p>ᐅ <code>Reports</code> ᐅ <code>Planning</code> ᐅ <code>Monthly planning for a resource</code><br />
<code>resource</code>: <code>~empty</code><br />
<code>month</code>: <code>06</code><br />
<code>include next month</code>: <code>~yes</code><br />
ᐅ <code>show report</code> (tooltip-name)<br />
This will show the report. The planned work can be seen for each resource and each activity.<br />
ᐅ <code>include this report in Today page</code> (tooltip-name)<br />
This will include the report in the Today page (ᐅ <code>Today</code>)<br />
(optionally) ᐅ <code>define as favorite</code> (tooltip-name)<br />
Then the report would be accessible via ᐅ[tooltip] <code>Reports</code>.<br />
Note: Currently the &quot;ᐅ <code>export to pdf format</code> (tooltip-name)&quot; function seems to be disfunctional (cropped right side)<br />
ᐅ <code>print report</code> (tooltip-name) (use pdf printer and use landscape format)<br />
This is a working way to save as pdf.<br />
The example pdf report can be seen here: <a href="reports/monthly_planning_for_a_resource1.pdf" class="uri">reports/monthly_planning_for_a_resource1.pdf</a></p>
<p>ᐅ <code>Reports</code> ᐅ <code>Planning</code> ᐅ <code>Work synthesis per activity</code><br />
<code>project</code>: <code>projects</code><br />
ᐅ <code>show report</code> (tooltip-name)<br />
ᐅ <code>include this report in Today page</code> (tooltip-name)<br />
ᐅ <code>print report</code> (tooltip-name)<br />
The example pdf report can be seen here: <a href="reports/work_synthesis_per_activity1.pdf" class="uri">reports/work_synthesis_per_activity1.pdf</a></p>
<h3 id="some-notes-on-the-planning-strategy">Some notes on the planning strategy</h3>
<p>From the report (see work_synthesis_per_activity1.pdf) the planning strategy can be guessed.<br />
It seems to work like the following:</p>
<ul>
<li>proceed in the order listed in ᐅ <code>Planning</code> (this means the scheduling can be changed by reordering the tasks, priority changes will probably overide the order, the item Id seems to be not a factor (only for the initial order))<br />
</li>
<li>if constraints in terms of dependencies between tasks (or milestones) exist, they will be respected first. (this means only tasks possible to start will be considered to start)</li>
<li>the allocation of resources in projects is to interprete as maximum work <strong>per week</strong> (e.g. 50% means probably that there is an evaluation of how much work the resource is able to provide (given his/her calendar and capacity) (in this week (or maybe this is evaluated only for a normal week)). Then 50% of this work will be tried to be scheduled for this resource in this project. If the time budget is reached it will go on with the next project)</li>
<li>the assignment of resources in activities is to be interpreted as maximum work <strong>per day</strong> (For example, if two activities are to be performed so that they have the same amount of planned work assigned to them at the end of each day, then the assignment for the resource per activity must be set to 50%.</li>
<li>the reoccuring tasks seem to be reoccuring until all other (not reoccuring) tasks in the project end.</li>
<li>the algorithm seems to not start any new task if an already started task can be processed instead (this means there seems to be no &quot;round robin&quot; like scheduling involved)</li>
</ul>
<h3 id="add-a-dependency">Add a dependency</h3>
<p>ᐅ <code>Planning</code><br />
click on the right end of a bar and hold and release on the left end of another bar (there should be a dependency arrow visible). (e.g. end of <code>ProjPro1</code> - <code>task1</code> to start of <code>ProjPro1</code> - <code>task2</code>). The dependency can be adjusted with left click on the arrow. E.g. the delay could be set to positive or negative number.<br />
The dependency can also be added/modified in ᐅ <code>Planning</code> ᐅ <code>ProjPro1</code> ᐅ <code>task1</code> ᐅ <code>Dependencies</code>.<br />
By adding the dependency the task2 might be moved one day ahead and turn red because the planned end date is later than the validated end date, but this is only the case because the global parameter <code>apply strict mode for dependencies</code>: <code>No</code> is not yet considered. If a new planning is triggered (with same start date as above) the parameter will be considered again, which will allow the start of a dependent task on the same day the previous task ends.</p>
<h3 id="add-real-work">Add real work</h3>
<p>ᐅ <code>logout</code> (<code>PersMg</code>)<br />
ᐅ <code>login</code> with <code>PersPro</code><br />
ᐅ <code>Follow-up</code> ᐅ <code>Timesheet</code><br />
<code>week</code>: <code>22</code><br />
<code>ProjPro1</code> - <code>task1</code> - <code>Tu 01</code>: <code>2</code> (there is a small blue <code>7.5</code> in the left corner of the field, that shows the planned work time)<br />
<code>ProjPro1</code> - <code>task1</code> - <code>Tu 02</code>: <code>2</code> (small blue <code>3.8</code>)<br />
ᐅ <code>save</code><br />
Note: it seems to be possible to assign real work hours for future days.<br />
(the purpose of <code>submit work</code> and <code>validate work</code> needs further investigations)<br />
ᐅ <code>Planning</code><br />
the <code>ProjPro1</code> - <code>task1</code> bar has now a small bar inside that shows the real work or progress. See the screenshot.<br />
<img src="img/projeqtor_planning_gantt2.png"  style="width:90%" ></p>
<h3 id="replan-the-schedule">Replan the schedule</h3>
<p>To replan the schedule after <code>PersPro</code> has worked on 06/01 and 06/02 only <code>2</code> hours instead of <code>7.5</code> <code>PersMg</code> can do the following.<br />
ᐅ <code>logout</code> (<code>PersPro</code>)<br />
ᐅ <code>login</code> with <code>PersMg</code><br />
ᐅ <code>planning</code> ᐅ <code>calculate capacity planning</code> (tooltip-name)<br />
<code>projects</code>: <code>~yes</code> (other <code>~no</code>) <code>start date</code>: <code>6/03/2021</code> (two days after the initial start)<br />
ᐅ <code>OK</code><br />
The new scheduling will not move task days that have already assigned real work.<br />
Some tasks are red in the new scheduling because the planned end date is later than the validated end date. See screenshot below.<br />
<img src="img/projeqtor_planning_gantt3.png"  style="width:90%" ></p>
<h3 id="add-another-project-and-replan">Add another project and replan</h3>
<p>Now we want to simulate that another important project needs to be processed in parallel.<br />
ᐅ <code>planning</code> ᐅ <code>ProjPriv2</code><br />
ᐅ hamburger menu ᐅ <code>copy current project</code><br />
<code>Copy name</code>: <code>ProjPriv3</code><br />
<code>Copy project structure (activities &amp; milestones)</code>: <code>~yes</code><br />
<code>Copy allocations to project (and sub-projects)</code>: <code>~yes</code><br />
<code>Copy assignements to activities (with assigned work)</code>: <code>~yes</code><br />
ᐅ <code>OK</code><br />
ᐅ <code>Progress</code><br />
<code>status</code>: ᐅ <code>recorded</code><br />
Now adjust the allocation rates:<br />
ᐅ <code>planning</code> ᐅ <code>ProjPriv3</code> ᐅ <code>Allocations</code><br />
<code>PersPriv</code> - <code>edit this allocation</code> (tooltip-name)<br />
<code>rate (%)</code>: <code>33</code><br />
ᐅ <code>planning</code> ᐅ <code>ProjPriv1</code> ᐅ <code>Allocations</code><br />
<code>PersPriv</code> - <code>edit this allocation</code> (tooltip-name)<br />
<code>rate (%)</code>: <code>33</code><br />
ᐅ <code>planning</code> ᐅ <code>ProjPriv2</code> ᐅ <code>Allocations</code><br />
<code>PersPriv</code> - <code>edit this allocation</code> (tooltip-name)<br />
<code>rate (%)</code>: <code>33</code><br />
And replan:<br />
ᐅ <code>planning</code> ᐅ <code>calculate capacity planning</code> (tooltip-name)<br />
<code>projects</code>: <code>~yes</code> (other <code>~no</code>) <code>start date</code>: <code>6/03/2021</code> (two days after the initial start)<br />
ᐅ <code>OK</code><br />
The 3 private projects can now be processed pseudo parallel (on a per week level).<br />
Some tasks are red in the new scheduling because the planned end date is later than the validated end date. See screenshot below.<br />
<img src="img/projeqtor_planning_gantt4.png"  style="width:90%" ></p>
<h3 id="add-a-baseline">Add a baseline</h3>
<p>ᐅ <code>planning</code> ᐅ hamburger menu ᐅ <code>save a baseline of planning</code><br />
<code>project</code>: <code>projects</code><br />
<code>name</code>: <code>baseline1</code><br />
ᐅ <code>OK</code><br />
ᐅ hamburger menu<br />
<code>Show baseline</code> - <code>On bottom</code>: <code>baseline1</code><br />
A grey bar appears under the actual planning bars. This can be useful to compare the planning with earlier plannings.</p>
<h3 id="add-todo-list-item">Add Todo list item</h3>
<p>(this needs activation - see global parameters section)<br />
ᐅ <code>planning</code> ᐅ <code>ProjPro1</code> - <code>task1</code><br />
ᐅ <code>Details</code><br />
(add the following at the bottom)<br />
<code>Todo list</code> - <code>name</code>: <code>todo1</code><br />
<code>Todo list</code> - <code>priority</code>: <code>High priority</code><br />
<code>Todo list</code> - <code>responsible</code>: <code>PersPro</code><br />
Now, the status of the todolist item can be set to <code>in progress</code> to work on it..</p>
